<% provide(:title, "Accueil") %>

<div class="center jumbetron">
  <h1>Bienvenue !</h1>
  <p>&darr; POur vous inscrire, cliquer simplement sur le bouton ci-dessous &darr;</p>
  <%= link_to "S'inscrire maintenant", "/signup", class: "btn btn-lg btn-primary" %>
</div>
